.chat-main
  .main-header
    .main-header__box
      .main-header__box__name
        = @group.name
      .main-header__box__member
        = "Menber: "
        - @group.users.each do |user|
          = user.name
    = link_to edit_group_path(@group),class:"edit" do
      .main-header__edit Edit
  .main-contents
    .message
      = render @messages

  .form
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'form__message', id: 'new_message', placeholder: 'type a message'
      .form__mask
        = f.label :image,class: 'form__mask__image' do
          = icon('fas', 'image',class:"icon")
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'